<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>

  <arg name="map_name_path" />
  <arg name="init_x_b" />
  <arg name="init_y_b" />
  <arg name="init_z_b" />
  <arg name="init_a_b" />
  <arg name="num_particles" />
  <arg name="alpha" />
  <arg name="input_bag_name" />
  <arg name="output_bag_name" />
  <arg name="output_topics" default="/vicon_odometry /amcl3d_node/base_transform /tf"/>

  <include file="$(find amcl3d)/launch/amcl3d.launch">
    <arg name="map_name_path" value="$(arg map_name_path)"/>
    <arg name="init_x_b" value="$(arg init_x_b)"/>
    <arg name="init_y_b" value="$(arg init_y_b)"/>
    <arg name="init_z_b" value="$(arg init_z_b)"/>
    <arg name="init_a_b" value="$(arg init_a_b)"/>
    <arg name="num_particles" value="$(arg num_particles)"/>
    <arg name="alpha" value="$(arg alpha)"/>
    <arg name="take_off_height" value="0"/>

  </include>

  <node pkg="rosbag" type="record" name="rosbag_output" args="$(arg output_topics) -O $(arg output_bag_name)" output="screen"/>

  <node pkg="rosbag" type="play" name="rosbag_input" args="--clock -r 0.5 $(arg input_bag_name)" required = "true"/>

</launch>