<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>

  <!-- Visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find amcl3d)/rviz/amcl3d.rviz"/>

  <include file="$(find amcl3d)/launch/amcl3d.launch">
    <arg name="map_name_path" value="$(find amcl3d)/data/map/mapfile_complete.bt"/>
    <arg name="init_x_b" value="2.87080164308"/>
    <arg name="init_y_b" value="1.63820032984"/>
    <arg name="init_z_b" value="0.21460881682"/>
    <arg name="init_a_b" value="0.144"/>
    <arg name="num_particles" value="600"/>
    <arg name="alpha" value="0.5"/>
    <arg name="take_off_height" value="0.5"/>

  </include>

</launch>
