<?xml version="1.0"?>
<launch>

  <include file="$(find amcl3d)/launch/amcl3d.launch"/>

  <!-- Package to test the algorithm -->
  <node pkg="amcl3d" type="amcl3d_demo" name="amcl3d_demo" output="screen"/>

  <!-- TF which relations the pointcloud-sensor with the uav localization -->
  <node pkg="tf" type="static_transform_publisher" name="tf_sensorconnected" args="0 0 0.05 3.1416 0 0 /base_link /lidar_points 100"/>

  <!-- To charge the rosbag -->
  <node pkg="rosbag" type="play" name="rosbag_p" args="--clock $(find amcl3d)/data/rosbag/RosbagRosin.bag"/>

</launch>
